<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}">
<head>
    <title>CMSimon</title>


</head>
<body>
<div layout:fragment="content" class="container">



    <div th:if="${url} == null"><h1>Bienvenue sur mon site qu'il est bien</h1></div>
    <div>
        <div th:if="${pages} != null">
            <div th:if="${#lists.size(pages)} == 0">
                <h3>Aucune page n'a été crée.</h3>
            </div>

            <div th:each="page : ${pages}">
                <div class="card w-100">
                    <div class="card-body">
                       <a th:href="@{|/${page.url}|}"> <h4 class="card-title" th:utext="${page.titre}">..</h4></a>
                        <p class="card-text" th:utext="${page.resume}">-- RESUME --</p>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
    <div th:if="${url} != null">
        <div th:insert="fragments/pageContent :: pageContent">-- PAGE --</div>
        <div id="commentContainer" th:insert="fragments/pageContent :: comments">-- COMMENTAIRES --</div>
    </div>

</div>
